<section class="background">
  <div class="cover">
    <div id="forum-text-div">
      <h2 id="forum-text-h2">FORUM</h2>
    </div>
  </div>
  <div *ngIf="data" style="text-align: center;;">
    <div
      *ngFor="let post of data"
      style="display: inline-block; margin-top: 18rem; padding: 2rem"
    >
      <div class="publication-card" routerLink="/publications/{{post._id}}">
        <div id="pub-image"><img id="img" src="{{post.imageUrl}}" alt="post-image"></div>
        <div id="pub-title">{{ post.title }}</div>
        <textarea disabled id="pub-desc">{{ post.description}}</textarea>
      </div>
    </div>
  </div>
</section>
