<app-profile></app-profile>
<div *ngIf="!userPosts">
  <app-loader></app-loader>
</div>
<body class="body">
  <div *ngIf="userPosts" class="outer-wrapper">
    <div *ngFor="let post of userPosts">
      <div class="card">
        <div class="publication-wrapper">
          <div class="title-description-wrapper">
            <span id="title">{{ post.title }}</span>
            <span id="description">{{ post.description.slice(0, 20) }}...</span>
          </div>
          <span
            class="go-to-link"
            routerLink="/profile/my-publications/{{ post._id }}"
            >VIEW PUBLICATION></span
          >
        </div>
      </div>
    </div>
    <div *ngIf="userPosts.length == 0">
      <div class="info-text-wrapper">
        <h4 id="info-text">You have no publications yet.</h4>
        <span
          id="create-publication-link"
          routerLink="/profile/create-publication"
          >Create publication ></span
        >
      </div>
    </div>
  </div>
</body>
