@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Righteous&family=Work+Sans&display=swap");

.post-wrapper {
  /* border-style: solid; */
  width: 50%;
  height: 100vh;
  font-family: "Orbitron", sans-serif;
  margin-left: 25%;
  /* border-color: magenta; */
}

.post-image {
  /* border: solid; */
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  /* border-color: mediumaquamarine; */
}

.post-card {
  /* border: solid; */
  width: 100%;
  height: 30rem;
  /* border-color: mediumturquoise; */
}

#title-section {
  /* border: solid; */
  width: 100%;
  height: 5rem;
  /* border-color: orange; */
  text-align: left;
}
#description-section {
  border: solid;
  width: 100%;
  height: 10rem;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 0.7rem;
  border-width: 0.15rem;
  /* border-color: rgb(0, 217, 255); */
}

.add-comment-section {
  /* border: solid; */
  width: 100%;
  height: 10rem;
  /* border-color: rgb(238, 255, 0); */
  display: grid;
  margin-top: 2rem;
}
#comment-input {
  border: solid;
  border-color: grey;
  width: 50%;
  border-radius: 0.5rem;
  margin-left: 25%;
  margin-top: 2rem;
}
#comment-input:focus {
  border-color: black;
}

.button {
  margin-top: 1rem;
  background-color: black;
  color: white;
  border-radius: 0.4rem;
  border-style: none;
  height: 2.5rem;
  width: 10rem;
}

.button:hover {
  background: green;
}

#h2-title {
  width: 90%;
  margin-top: 3rem;
  /* margin-left: 5%; */
  /* border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: grey; */
  border-width: 0.125rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  /* padding-left: 1rem; */
}

#p-description {
  width: 90%;
  height: 100%;
  /* border-style: solid; */
  /* border-top: none; */
  /* border-right: none; */
  /* border-left: none; */
  padding-left: 1rem;
  padding-top: 1rem;
  /* margin-left: 5%; */
  /* border-color: grey; */
  border-width: 0.125rem;
  /* border-radius: 1rem; */
}

.add-comment-button-wrapper {
  width: 100%;
  align-items: center;
  text-align: center;
}

.view-comments-button-wrapper {
  width: 100%;
  align-items: center;
  text-align: center;
}

.button-comments {
  background-color: black;
  color: white;
  border-radius: 0.4rem;
  border-style: none;
  height: 2.5rem;
  width: 20rem;
}

.comment-div {
  display: flex;
  border-style: solid;
  border-color: black;
  border-radius: 0.7rem;
  text-align: center;
  height: 5rem;
  /* margin: 1rem; */
  margin-top: 1rem;
}

.comment-section-wrapper {
  display: grid;
  height: auto;
  margin-top: 3rem;
}

#content {
  display: grid;
  width: 90%;
  /* border-style: solid; */
  text-align: start;
  padding-left: 1rem;
}

#user-info-div {
  display: flex;
  padding-right: 1rem;
}

#user-fullname-span {
  padding-right: 2rem;
  font-weight: bold;
}
#likes {
  display: grid;
  padding-left: 2rem;
}

#like {
  width: 2rem;
  cursor: pointer;
}

#dislike {
  width: 2rem;
  cursor: pointer;
}

#comment-options {
  display: grid;
  padding-right: 1rem;
  padding-top: .3rem;
}

#edit {
  margin-top: 0.2rem;
  background-color: rgb(255, 172, 78);
  border-radius: 0.3rem;
  border: none;
  font-weight: bold;
}

#delete {
  margin-top: 0.4rem;
  background-color: rgb(255, 89, 89);
  border-radius: 0.3rem;
  border: none;
  font-weight: bold;

}
.post-options-wrapper {
  margin-top: 10rem;
  text-align: center;
}

.post-options {
  align-items: center;
  height: 5rem;
  border-style: solid;
  border-width: 0.15rem;
  border-top-right-radius: 0.7rem;
  padding-top: 1.2rem;
  border-left: none;
  border-bottom: none;
  width: 40%;
  margin-left: 60%;
}

#post-edit {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: 0.7rem;
  border: none;
  border-radius: 0.3rem;
  height: 2rem;
  background-color: rgb(255, 172, 78);
  font-weight: bold;
}

#post-delete {
  /* border-color: black; */
  border: none;
  border-radius: 0.3rem;
  height: 2rem;
  background-color: rgb(255, 89, 89);
  font-weight: bold;
}

#comment-section-text {
  border-style: solid;
  margin-top: 7rem;
  width: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: red;
  border-width: 0.15rem;
}
