<section class="footer-wrapper">
  <div class="image-icons-wrapper">
    <img id="f1-image" src="/assets/f1.png" alt="F1-logo" routerLink="/home" />
    <span id="text-span">Visit official Formula 1 media channels</span>
    <div id="icons">
      <a href="https://www.facebook.com/Formula1/">
        <img src="/assets/media-icons/facebook.png" alt="facebook-image" />
      </a>
      <a href="https://www.instagram.com/f1/?hl=en"
        ><img src="/assets/media-icons/instagram.png" alt="instagram-image"
      /></a>
      <a href="https://twitter.com/F1">
        <img src="/assets/media-icons/twitter.png" alt="twitter-image" />
      </a>
      <a href="https://www.youtube.com/channel/UCB_qr75-ydFVKSF9Dmo6izg">
        <img src="/assets/media-icons/youtube.png" alt="youtube-image" />
      </a>
      <a href="https://www.tiktok.com/@f1?lang=en">
        <img src="/assets/media-icons/tiktok.png" alt="tiktok-image" />
      </a>
    </div>
  </div>
</section>
