@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Righteous&family=Work+Sans&display=swap");


.layout-div {
  border-style: solid;
  width: 100%;
  font-family: "Orbitron", sans-serif;
}

.mini-nav-bar {
  background-color: black;
  justify-content: center;
  display: flex;
  color: white;
  height: 7rem;
}

#my-account-link {
  font-size: 85%;
  font-weight: bold;
  padding: 1rem;
  padding-top: 4rem;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: grey;
  height: 6rem;
  border-width: 0.3rem;
  padding-right: 3rem;
  margin-top: 0.7rem;
  margin-right: 3rem;
  padding-left: 3rem;
}

#my-publications-link {
  font-size: 85%;
  font-weight: bold;
  padding: 1rem;
  padding-top: 4rem;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: grey;
  margin-top: 0.7rem;
  height: 6rem;
  border-width: 0.3rem;
  margin-right: 3rem;
}

#create-publication-link {
  font-size: 85%;
  font-weight: bold;
  padding: 1rem;
  padding-top: 4rem;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: grey;
  margin-top: 0.7rem;
  height: 6rem;
  border-width: 0.3rem;
}

#my-account-link:hover {
  border-color: white;
  cursor: pointer;
}

#my-publications-link:hover {
  border-color: white;
  cursor: pointer;
}

#create-publication-link:hover {
  border-color: white;
  cursor: pointer;
}

.active {
  color: red;
}
