@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Righteous&family=Work+Sans&display=swap");

.post-wrapper {
  border-radius: 1rem;
  margin-top: 5rem;
  width: 50%;
  min-height: 100%;
  font-family: "Orbitron", sans-serif;
  margin-left: 25%;
  border-color: black;
  align-items: center;
  text-align: center;
}

.post-image {
  border-radius: 1rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* border-color: mediumaquamarine; */
}

#img {
  width: 100%;
  height: 400px;
}

.post-card {
  border-width: 2px;
  width: 100%;
  height: 25rem;
  /* border-color: mediumturquoise; */
  /* border-style: solid; */
}

#title-section {
  /* border-color: orange; */
  /* margin-left: 13% */
  /* border-style: solid; */
  width: 100%;
}
#description-section {
  width: 100%;
  height: 10rem;
  resize: none;
  background-color: transparent;
  border: none;
  /* border-style: solid; */
  text-align: center;
  padding-top: 1rem;
  height: 50%;
  /* border-color: rgb(0, 217, 255); */
}


#edit {
  margin-top: 0.2rem;
  background-color: rgb(219, 139, 47);
  border-radius: 0.3rem;
  border: none;
  font-weight: bold;
}

.post-options-wrapper {
  text-align: center;
  display: flex;
}

.post-options {
  align-items: center;
  height: 5rem;
  /* border-style: solid; */
  border-width: 0.15rem;
  border-radius: 10px;
  padding-top: 1.2rem;
  /* width: 35%; */
  margin-left: 40%;
  /* background-color: rgb(236, 236, 236); */
}

#post-edit {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: 0.7rem;
  border: none;
  border-radius: 0.3rem;
  height: 2rem;
  background-color: rgb(255, 172, 78);
  font-weight: bold;
}

#post-delete {
  /* border-color: black; */
  border: none;
  border-radius: 0.3rem;
  height: 2rem;
  background-color: rgb(255, 89, 89);
  font-weight: bold;
}



textarea::-webkit-scrollbar {
  width: 1em;
}

