<app-profile></app-profile>
<body style="min-height: 100rem">
  <div style="margin-top: 3rem" *ngIf="currentPost">
    <div class="post-wrapper">
      <div>
        <div class="post-image">
          <img id="img" src="{{ currentPost.imageUrl }}" alt="post-image" />
        </div>
      </div>
      <div class="post-card">
        <div id="title-section">
          <h2 id="h2-title">{{ currentPost.title }}</h2>
        </div>
        <textarea disabled id="description-section">
       {{ currentPost.description }}
        </textarea>
        <div
          class="post-options-wrapper"
          *ngIf="activeUser == currentPost.author.email"
        >
          <div class="post-options">
            <button
              id="post-edit"
              routerLink="/profile/my-publications/{{ currentPost._id }}/edit"
            >
              EDIT
            </button>
            <button id="post-delete" (click)="deletePost()">DELETE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-publication-comments></app-publication-comments>
</body>
