<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/home"
    ><img style="width: 7rem" src="assets/f1.png" alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div style="display: flex; margin-left: 55vh;">
      <a
        class="nav-link"
        routerLink="/home"
        routerLinkActive="active"
        style="font-family: Orbitron, sans-serif"
        >Home
      </a>
      <div
        *ngIf="!isLoggedIn()"
        style="display: flex; font-family: Orbitron, sans-serif"
      >
        <a class="nav-link" routerLink="/login" routerLinkActive="active"
          >Login</a
        >
        <a class="nav-link" routerLink="/register" routerLinkActive="active"
          >Register</a
        >
      </div>

      <div
        *ngIf="isLoggedIn()"
        style="display: flex; font-family: Orbitron, sans-serif"
      >
        <a
          class="nav-link"
          routerLink="/profile/my-account"
          routerLinkActive="active"
          >Profile</a
        >
        <a class="nav-link" routerLink="/calendar" routerLinkActive="active"
          >Calendar</a
        >
        <a class="nav-link" routerLink="/drivers" routerLinkActive="active"
          >Drivers</a
        >
        <a class="nav-link" routerLink="/constructors" routerLinkActive="active"
          >Constructors</a
        >
        <a class="nav-link" routerLink="/forum" routerLinkActive="active"
          >Forum</a
        >
        <a
          class="nav-link"
          style="margin-left: 57vh"
          routerLink="/logout"
          routerLinkActive="active"
          (click)="logout()"
          >Logout</a
        >
      </div>
    </div>
  </div>
</nav>
