@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400&family=Righteous&family=Work+Sans&display=swap");

.navbar {
  display: flex;
  position: fixed;
  background-color: white;
  max-width: 100%;
  z-index: 3;
}

.logged-in-wrapper {
  display: flex;
  font-family: "Orbitron", sans-serif;
  width: 100vw;
  height: 0;
  margin-top: -5rem;
  justify-content: center;
}

.not-logged-in-wrapper {
  display: flex;
  font-family: "Orbitron", sans-serif;
  width: 100vw;
  justify-content: center;
  height: 0;
  margin-top: -5rem;
}
#logout-btn {
  left: 5cm;
}
.nav-item {
  color: silver;
}
.nav-item:hover {
  color: black;
}
.nav-item:active {
  color: black;
}

.nav-link {
  color: silver;
  cursor: pointer;
}
.nav-link:hover {
  color: black;
}
.active {
  color: black;
  text-decoration: overline;
}
