@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400&family=Righteous&family=Work+Sans&display=swap");

.navbar {
  display:flex;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 3;
}

.inner-not-logged-wrapper {
  display: flex;
  font-family: "Orbitron", sans-serif;
  padding-left: 45%;
  width: 100%;
  text-align:center;
}

.nav-item {
  color: silver;
}
.nav-item:hover {
  color: black;
}
.nav-item:active {
  color: black;
}

.nav-link {
  color: silver;
  cursor: pointer;
}
.nav-link:hover {
  color: black;
}
.active {
  color: black;
  text-decoration: overline;
}
