<nav class="navbar">
  <a class="navbar-brand" routerLink="/home"
    ><img style="width: 7rem" src="assets/f1.png" alt=""
  /></a>
  <!-- <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="not-logged-in-wrapper" *ngIf="!isLoggedIn()">
    <h6 class="nav-link" routerLink="/home" routerLinkActive="active">Home</h6>
    <h6 class="nav-link" routerLink="/login" routerLinkActive="active">
      Login
    </h6>
    <h6 class="nav-link" routerLink="/register" routerLinkActive="active">
      Register
    </h6>
    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
  </div>

  <div class="logged-in-wrapper" *ngIf="isLoggedIn()">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home </a>
    <a
      class="nav-link"
      routerLink="/profile/my-account"
      routerLinkActive="active"
      >Profile</a
    >
    <a class="nav-link" routerLink="/calendar" routerLinkActive="active"
      >Calendar</a
    >
    <a class="nav-link" routerLink="/drivers" routerLinkActive="active"
      >Drivers</a
    >
    <a class="nav-link" routerLink="/constructors" routerLinkActive="active"
      >Constructors</a
    >
    <a class="nav-link" routerLink="/forum" routerLinkActive="active">Forum</a>
    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
    <a
      id="logout-btn"
      class="nav-link"
      routerLink="/logout"
      routerLinkActive="active"
      (click)="logout()"
      >Logout</a
    >
  </div>
</nav>
