@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Righteous&family=Work+Sans&display=swap");

.title-div {
  font-family: "Orbitron", sans-serif;
}
.cover {
  width: 100%;
  height: 400px;
}
#cover-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 60%;
}
.race-div {
  width: calc(100%);
  height: 30rem;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
  text-align: center;
}

.upcoming-race-info-wrapper {
  height: 55%;
  width: 100%;
  display: flex;
  font-family: "Orbitron", sans-serif;
}

.left-wrapper {
  height: 80%;
  width: 20%;
  margin-top: 1.5%;
  color: white;
  display: grid;
  text-align: center;
}

.right-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.race-wrapper {
  width: 20%;
  display: grid;
}
.race-title {
  border-style: solid;
  border-width: 1.75px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50%;
  color: white;
  padding-top: 10%;
  font-weight: 800;
  color: rgb(226, 3, 3);
}

.race-info {
  margin-top: -15%;
  color: white;
  display: grid;
  font-size: 70%;
  padding-right: 1rem;
  font-weight: 600;
}

.qualify-wrapper {
  width: 20%;
  display: grid;
}
.qualify-title {
  border-style: solid;
  border-width: 1.75px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50%;
  color: white;
  padding-top: 5%;
  color: rgb(247, 140, 1);
  font-weight: 800;
  padding-top: 10%;
}

.qualify-info {
  margin-top: -15%;
  color: white;
  display: grid;
  padding-right: 2.5rem;
  font-size: 70%;
  font-weight: 600;
}

.practice-3-wrapper {
  width: 20%;
  display: grid;
}
.practice-3-title {
  border-style: solid;
  border-width: 1.75px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50%;
  color: white;
  padding-top: 5%;
  padding-top: 10%;
  font-weight: 800;
}

.practice-3-info {
  margin-top: -15%;
  color: white;
  display: grid;
  padding-right: 3.5rem;
  font-size: 70%;
  font-weight: 600;
}

.practice-2-wrapper {
  width: 20%;
  display: grid;
}
.practice-2-title {
  border-style: solid;
  border-width: 1.75px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50%;
  color: white;
  padding-top: 5%;
  padding-top: 10%;
  font-weight: 800;
}

.practice-2-info {
  margin-top: -15%;
  color: white;
  display: grid;
  padding-right: 3.5rem;
  font-size: 70%;
  font-weight: 600;
}

.practice-1-wrapper {
  width: 20%;
  display: grid;
}
.practice-1-title {
  border-style: solid;
  border-width: 1.75px;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50%;
  color: white;
  padding-top: 5%;
  padding-top: 10%;
  font-weight: 800;
}

.practice-1-info {
  margin-top: -15%;
  color: white;
  display: grid;
  font-size: 70%;
  font-weight: 600;
}

.track-name {
  color: white;
  /* font-family: "Righteous", cursive; */
  font-family: "Orbitron", sans-serif;
  text-align: left;
  padding-left: 7%;
}
.header-race-name {
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 0.03cm;
  /* font-family: "Righteous", cursive; */
  font-family: "Orbitron", sans-serif;
}
.track-flag {
  width: 4rem;
  padding-top: 0.5rem;
}

#map {
  height: 30rem;
}

.container {
  width: 30rem;
  height: 5rem;
  /* transform: translate(-50%, -50%); */
  z-index: 1;
  /* overflow: hidden; */
  font-family: "Orbitron", sans-serif;
  text-align: center;
  /* margin-top: -1.5rem; */
  align-items: center;
}
.clock {
  text-align: center;
}

.countdown {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.countdown .num {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: bold;
}
.countdown .txt {
  font-size: 12px;
  text-transform: uppercase;
}

#img-track {
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1.75px;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 10px;
  height: 8rem;
  margin-left: 4rem;
  margin-top: 1.5rem;
}

#upcoming-span {
  font-weight: 800;
  font-size: 100%;
}

#country-span {
  font-weight: 800;
  font-size: 150%;
  padding-top: 1rem;
}

#img-track:hover{
  border-color: red;
  cursor: pointer;
}