<div class="cover">
  <img
    id="cover-image"
    src="/assets/cover-images/main-page.jpg"
    alt="car-image"
  />
</div>
<div *ngIf="final">
  <div class="race-div">
    <h2 class="header-race-name">
      {{ final.Circuit.circuitName.toUpperCase() }}
    </h2>
    <img
      class="track-flag"
      src="assets/track-flags/{{ final.Circuit.Location.country }}.png"
      alt="country-flag"
    />
    <div
      class="clock"
      style="
        color: white;
        background-color: rgb(2, 78, 2);
        width: 100%;
        height: 5rem;
        margin-top: 2rem;
      "
    >
      <!-- <h1>Countdown Clock</h1> -->
      <div class="container">
        <!-- <h1>Countdown to my birthday:</h1> -->
        <ul class="countdown">
          <span>
            <div class="num">{{ days }}</div>
            <div class="txt">days</div>
          </span>
          <span>
            <div class="num">{{ hours }}</div>
            <div class="txt">hours</div>
          </span>
          <span>
            <div class="num">{{ minutes }}</div>
            <div class="txt">minutes</div>
          </span>
          <span>
            <div class="num">{{ seconds }}</div>
            <div class="txt">seconds</div>
          </span>
        </ul>
      </div>
    </div>
    <div class="upcoming-race-info-wrapper">
      <div class="left-wrapper">
        <span id="upcoming-span">UPCOMING RACE ></span>
        <img id="img-track" src="/assets/images/{{final.Circuit.circuitId}}.png" alt="track-image" routerLink="/race/details/{{final.round}}" />
        <span id="country-span">AUSTRALIA</span>
      </div>
      <div class="right-wrapper">
        <div class="race-wrapper">
          <div class="race-title">RACE ></div>
          <div class="race-info">
            <span style="padding-left: 5rem">DATE: {{ final.date }}</span>
            <span style="padding-left: 3rem">TIME: {{ final.time }}</span>
          </div>
        </div>
        <div class="qualify-wrapper">
          <div class="qualify-title">QUALIFY ></div>
          <div class="qualify-info">
            <span style="padding-left: 5rem"
              >DATE: {{ final.Qualifying.date }}</span
            >
            <span style="padding-left: 4rem"
              >TIME: {{ final.Qualifying.time }}</span
            >
          </div>
        </div>
        <div class="practice-3-wrapper">
          <div class="practice-3-title">PRACTICE 3 ></div>
          <div class="practice-3-info">
            <span style="padding-left: 4rem"
              >DATE: {{ final.ThirdPractice.date }}</span
            >
            <span style="padding-left: 3rem"
              >TIME: {{ final.ThirdPractice.time }}</span
            >
          </div>
        </div>
        <div class="practice-2-wrapper">
          <div class="practice-2-title">PRACTICE 2 ></div>
          <div class="practice-2-info">
            <span style="padding-left: 4rem"
              >DATE: {{ final.SecondPractice.date }}</span
            >
            <span style="padding-left: 3rem"
              >TIME: {{ final.SecondPractice.time }}</span
            >
          </div>
        </div>
        <div class="practice-1-wrapper">
          <div class="practice-1-title">PRACTICE 1 ></div>
          <div class="practice-1-info">
            <span style="padding-left:1rem"
              >DATE: {{ final.FirstPractice.date }}</span
            >
            <span 
              >TIME: {{ final.FirstPractice.time }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map"></div>
