<app-profile></app-profile>
<div class="outer-wrapper">
<form class="card" [formGroup]="form" (ngSubmit)="onSubmitCreatePost()" method="post">
  <span id="text">Create a topic that you're interested in</span>
  <div class="title-wrapper">
    <div id="title">Topic title</div>
    <input id="title-input" type="text" formControlName="title" placeholder="Your title here" />
  </div>
  <div class="description-wrapper">
    <div id="description">Tell us more about the topic</div>
    <input id="description-input" type="text" formControlName="description" placeholder="Add description" />
  </div>
  <div class="image-wrapper">
    <div id="image">Upload image</div>
    <input id="image-input" type="text" formControlName="imageUrl" placeholder="Upload picture https://..." />
  </div>
  <button class="button" type="submit">SUBMIT</button>
</form>
</div>