<app-profile></app-profile>
<div *ngIf="!currentUser">
  <app-loader></app-loader>
</div>
<body class="body">
  <div *ngIf="currentUser">
    <form action="post" [formGroup]="form" (ngSubmit)="onSubmitEdit()">
      <div class="card">
        <div class="title-text">
          <span id="title-text-span">PERSONAL INFORMATION</span>
        </div>
        <div class="name-text">
          <div id="name-div">
            <span id="name-text-span">Name</span>
            <input
              id="username-span"
              placeholder="Edit your name"
              formControlName="fullname"
              [(ngModel)]="currentUser.fullName"
            />
          </div>
          <button type="submit" id="edit-div-1">Save</button>
        </div>
        <div
          *ngIf="
            form.get('fullname')?.touched &&
            form.get('fullname')?.invalid &&
            form.get('fullname')?.dirty
          "
        >
          <div *ngIf="form.get('fullname')?.errors?.['required']">
            <span style="color: red">Full name is required</span>
          </div>
          <div *ngIf="form.get('fullname')?.errors?.['minlength']">
            <span style="color: red"
              >Name must be atleast 3 characters long</span
            >
          </div>
        </div>
        <div class="birthday-text">
          <div id="birthday-div">
            <span id="birthday-text-span">Birthday</span>
            <input
              id="birthday-date-span"
              placeholder="Edit your date of birth"
              formControlName="birthday"
              [(ngModel)]="currentUser.birthday"
            />
          </div>

          <button type="submit" id="edit-div-1">Save</button>
        </div>
        <div
          *ngIf="
            form.get('birthday')?.touched &&
            form.get('birthday')?.invalid &&
            form.get('birthday')?.dirty
          "
        >
          <div *ngIf="form.get('birthday')?.errors?.['required']">
            <span style="color: red">Date of birth is required</span>
          </div>
          <div *ngIf="form.get('birthday')?.errors?.['pattern']">
            <span style="color: red"
              >Date of birth must be in format e.g. dd/mm/yy</span
            >
          </div>
        </div>
        <div class="country-text">
          <div id="country-div">
            <span id="country-text-span">Country</span>
            <input
              id="country-span"
              placeholder="Edit your country"
              formControlName="country"
              [(ngModel)]="currentUser.country"
            />
          </div>
          <button type="submit" id="edit-div-1">Save</button>
        </div>
        <div
          *ngIf="
            form.get('country')?.touched &&
            form.get('country')?.invalid &&
            form.get('country')?.dirty
          "
        >
          <div *ngIf="form.get('country')?.errors?.['required']">
            <span style="color: red">Your country is required</span>
          </div>
        </div>
        <div class="team-text">
          <div id="team-div">
            <span id="favourite-team-text-span">Favourite Team</span>
            <input
              id="favourite-team-span"
              placeholder="Edit your favourite team"
              formControlName="team"
              [(ngModel)]="currentUser.team"
            />
          </div>
          <button type="submit" id="edit-div-1">Save</button>
        </div>
        <div
          *ngIf="
            form.get('team')?.touched &&
            form.get('team')?.invalid &&
            form.get('team')?.dirty
          "
        >
          <div *ngIf="form.get('team')?.errors?.['required']">
            <span style="color: red">Favourite team is required</span>
          </div>
          <div *ngIf="form.get('team')?.errors?.['minlength']">
            <span style="color: red"
              >Team must be atleast 4 characters long</span
            >
          </div>
        </div>
        <div *ngIf="errors">
          <span style="color: red">{{ errors }}</span>
        </div>
      </div>
    </form>
  </div>
</body>
