<app-profile></app-profile>
<div class="card">
  <div class="title-text">
    <span id="title-text-span">PERSONAL INFORMATION</span>
  </div>
  <div class="name-text">
    <div id="name-div">
      <span id="name-text-span">Name</span>
      <span id="username-span">Hristo Kazanski</span>
    </div>
    <div id="edit-div-1">Edit</div>
  </div>
  <div class="birthday-text">
    <div id="birthday-div">
      <span id="birthday-text-span">Birthday</span>
      <span id="birthday-date-span">14/05/1993</span>
    </div>
    <div id="edit-div-1">Edit</div>
  </div>
  <div class="country-text">
    <div id="country-div">
      <span id="country-text-span">Country</span>
      <span id="country-span">Bulgaria</span>
    </div>
    <div id="edit-div-1">Edit</div>
  </div>
  <div class="team-text">
    <div id="team-div">
        <span id="favourite-team-text-span">Favourite Team</span>
        <span id="favourite-team-span">Mclaren</span>
    </div>
    <div id="edit-div-1">Edit</div>
  </div>
</div>
